server:
  port: 8082

spring:
  application:
    name: addres-service
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        register: true
        prefer-ip-address: true
        health-check-path: /actuator/health
        health-check-interval: 10s


management:
  endpoint:
    web:
      exposure:
        include: health