version: '3.8'

services:
  mysql-db:
    image: mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: userdatabase


volumes:
  user-service_mysql_data:
